@import '../../styles/variables.module.scss';

.generalContainer {
    max-width: $width-app;
    margin: 200px auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}


@media screen and (max-width: 800px) {
    .generalContainer {
        max-width: 90%;
        flex-direction: column;
        margin: 20px auto;
    }
}